
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Muon_Success</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            position: absolute;
            top: 30%;
            left: 30%;
            text-align: center
        }
    </style>
</head>


<body style="">
    <h1>BẠN ĐÃ MƯỢN SÁCH THÀNH CÔNG</h1>
    <a href="@Url.Action("Index","ListBook")" class="btn btn-primary">Trở Về</a>
</body>
</html>
