<html>
<style>
    .footer {
        padding-bottom: 20px;
    }
</style>
<footer>
    <div class="footer">
        <div class="w3-row">
            <div class=" w3-container w3-quarter">
                <h3>Giới thiệu</h3>
                <ul>
                    <li>

                        <a href="" style="color:white;text-decoration:none">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="" style="color:white;text-decoration:none">Nội Quy</a>
                    </li>
                    <li>
                        <a href="" style="color:white;text-decoration:none">Hướng dẫn quy trình mượn sách</a>
                    </li>
                    <li> <a href="" style="color:white;text-decoration:none">Đăng ký tham gia làm thủ thư</a></li>
                </ul>
            </div>
            <div class="w3-container w3-quarter">
                <h3>Hỗ trợ chúng tôi</h3>
                <ul>
                    <li><a href="" style="color:white">Giới thiệu</a></li>
                    <li><a href="" style="color:white">Điều khoản và điều kiện</a></li>

                </ul>
            </div>
            <div class="w3-container w3-quarter">
                <h3>Liên hệ</h3>
                <ul>
                    <li>Số 69 Lý Tự Trọng, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh</li>
                    <li>ĐT: + 84 (028) 3 8 225 055</li>
                    <li>Email: thuvientphcm@thuvientphcm.gov.vn</li>

                </ul>
            </div>
            <div class="w3-container w3-quarter">
                <h3>Theo dõi chúng tôi</h3>
                <ul>

                    <li><a href="" style="color:white">Facebook</a></li>
                    <li><a href="" style="color:white">Youtube</a></li>
                    <li><a href="" style="color:white">Zalo</a></li>
                    <li><a href="" style="color:white">Twitter</a></li>
                    <li><a href="" style="color:white">Instagram</a></li>
                </ul>
            </div>
        </div>


    </div>


</footer>

</html>