
<div class="left-content">

    <ul style="text-decoration:none ; background-color:blue ;margin-top:20px;list-style-type:none;padding:10px;border-radius:10px">
        <li><a href="/ThongKe/GroupByTop5 " style="color:white; text-decoration: none; text-align:center" id="animation-top5"> Top 5 Cuốn Sách Được Mượn Nhiều  </a></li>
    </ul>
    @{Html.RenderAction("CategoryPartial", "Categories");}


</div>